{% extends 'base.html.twig' %}

{% block title %}Nos services
{% endblock %}

{% block body %}

<h2 class="titre-section">Nos services</h2>
<br>
	<table class="table">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">Titre</th>
				<th scope="col">Description</th>
				<th scope="col">Prix</th>
			</tr>
		</thead>
		<tbody>
			{% for service in service %}
				<tr>
					<th scope="row"></th>
					<td>{{ service.title }}</td>
					<td>{{ service.description }}</td>
					<td>{{ service.price }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>

<p>(*) Prix du pneus non compris</p>

{% endblock %}
